<div class="container mt-3" data-controller="multistage-step2">
  <h2>Tell us of someone you care about deeply</h2>

  <%= simple_form_for :step2_data, url: step2_submit_multistages_path, html: { data: { action: "submit->multistage-step2#submitForm", "multistage-step2-target": "form" } } do |f| %>
    <%= f.input :nickname, as: :string, label: "What do you call them?" %>
    <%= f.input :relation_to, as: :select, collection: relationship.relation_to, label: "What is their relationship to you?"%>
    <%= f.input :date_of_birth,
        label: "What is their date of birth?", # Reflects custom label
        as: :string %>

    <%= f.label :contact_days, "How much quality time do you spend together these days?" %>
    <div class="input-group">
      <%= f.input :contact_days, as: :integer, placeholder: "1", label: false %>
        <p class="form-p">day(s) per</p>
      <%= f.input :contact_days_per, as: :select, collection: relationship.contact_days_per, label: false %>
    </div>


    <%= f.label :meet_date, "How long has ... been important to you?" %>
    <div class="input-group">
      <%= f.input :meet_date, as: :integer, placeholder: "1", label: false %>
      <p class="form-p">years</p>
    </div>


    <%= f.button :submit, "Next",
      class: "primary-btn" %>
  <% end %>
</div>

<%# TABLE IN THE SCHEMA %>
<%# t.bigint "user_id", null: false
    t.string "nickname"
    t.string "relation_to"
    t.datetime "date_of_birth"
    t.datetime "meet_date"
    t.integer "contact_minutes_per_week"
    t.datetime "created_at", null: false
    t.datetime "updated_at", null: false
    t.index ["user_id"], name: "index_relationships_on_user_id" %>
