<% @habits.each do |habit| %>
  <div class="habit-show-card mb-4">
    <% if habit.photo.present? %>
      <div class="habit-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path habit.photo.key, crop: :fill, gravity: :face %>')">
      <div class="habit-image-title-area"><h3><%= habit.title.titleize %></h3></div>
      </div>
    <% end %>

    <div class="habit-content">
      <% if habit.photo.present? %>
      <% else %>
      <h3 class="habit-title"><%= habit.title.titleize %></h3>
      <% end %>
      <%# Category Chip (Render) %>
      <%= render partial: 'shared/category_chip', locals: { habit: habit } %>
      <%# Trigger Chip %>
      <% if habit.trigger.present? %>
        <p class="chip "><i class="fa-solid fa-bolt-lightning me-1"></i><%= habit.trigger.capitalize %></p>
      <% end %>
      <%# Reward Chip %>
      <% if habit.reward.present? %>
        <p class="chip"><i class="fa-solid fa-gift me-1"></i><%= habit.reward.capitalize %></p>
      <% end %>
      <%# Time and duration %>
      <p><i class="fa-regular fa-clock me-1"></i><%= habit.start_time.strftime("%H:%M") %> for <%= habit.duration_in_minutes %> minutes
      <% if habit.week_recurrence == 1 %>
        every week.
      <% elsif habit.week_recurrence == nil || habit.week_recurrence < 1 %>

      <% else %>
        every <%= habit.week_recurrence %> weeks.
      <% end %>
      </p>

      <%# Days of the Week %>
      <%= render partial: 'shared/habit_days', locals: { habit: habit } %>

      <%# Identity Goal quote %>
      <p class="mt-4 mb-3"><i class="fa-solid fa-quote-left"></i> I will do this because I want to be <%= habit.identity_goal.downcase %>. <i class="fa-solid fa-quote-right"></i></p>
      <div class="d-flex justify-content-around">
        <div class="row">
          <div class="col-6 text-nowrap p-3 text-center">
            <p><strong>Current Streak</strong></p>
            <p class="chip" id="current"><i class="fa-solid fa-fire text-dark"></i>  <%= habit.current_streak %></p>
          </div>
          <div class="col-6 text-nowrap p-3 text-center">
            <p><strong>Best Streak</strong></p>
            <p class="chip" id="best"><i class="fa-solid fa-trophy text-warning"></i>  <%= habit.best_streak %></p>
          </div>
        </div>
      </div>
    </div>
    <%= link_to edit_habit_path(habit) do %>
      <h4><i class="fa-regular fa-pen-to-square edit-button"></i></h4>
    <% end %>
  </div>
<% end %>
