<% raise %>
<h1>Hi, <%= @user.first_name %>!</h1>
<%# <% raise %>

<%# <% if @user.profile_picture.key %>
  <%# <%= cl_image_tag owner.profile_picture.key, class: "avatar-profile" %>
<%# <% else %>
  <%# <%= image_tag 'default_avatar.png', class: "avatar-profile" %>
<%# <% end %>
<ul class="list-inline">
  <li class="list-inline-item"><strong>Member for: </strong></li>
  <li class="list-inline-item"><%= render 'devise/registrations/active_since', user: @user %></li>
</ul>
<p><strong>Email:</strong> <%= @user.email %></p>

<div class="container display-content-center" data-controller="user-profile">
  <div class="row">
    <div class="d-flex justify-content-between">
      <h2>Account Details</h2>
      <button data-user-profile-target="editAcctBtn"
              data-action="click->user-profile#showHide">
              <i class="fa-solid fa-pen-to-square btn-primary mr-5"></i></button>
    </div>
    <div data-user-profile-target="accountInfo" class="">
      <div class="col-6">
        <p><strong>First Name:</strong> <%= @user.first_name %></p>
        <p><strong>Last Name:</strong> <%= @user.last_name %></p>
      </div>
      <div class="col-6">
        <p><strong>DOB:</strong>
        <%= @user.date_of_birth.strftime("%Y/%m/%d") %>
        </p>
      </div>
    </div>

    <div data-user-profile-target="accountForm" class="d-none">
      <%= simple_form_for(@user, as: :user, url: registration_path(:user), html: { method: :patch }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
          <div class="d-flex">
            <div class="row justify-content-between">
              <div class="col-6">
                <%= f.input :first_name,
                            required: false,
                            autofocus: true,
                            input_html: { autocomplete: "first-name" } %>
              </div>
              <div class="col-6">
                <%= f.input :last_name,
                            required: false,
                            autofocus: true,
                            input_html: { autocomplete: "last-name" } %>
              </div>
            </div>
          </div>
      <%= f.input :date_of_birth,
                    label: "Date of birth",
                    as: :string,
                    input_html: { data: { controller: "datepicker" }} %>
        <%= f.input :password,
                    hint: "leave it blank if you don't want to change it",
                    required: false,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: false,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :current_password,
                    hint: "we need your current password to confirm your changes",
                    required: true,
                    input_html: { autocomplete: "current-password" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Update" %>
      </div>
      <% end %>
    </div>
  </div>

  <div class="row mt-3">
        <div class="d-flex justify-content-between">
          <h2>Unavoidables</h2>
          <button data-user-profile-target="editDaysBtn"
                  data-action="click->user-profile#showHideDay">
                  <i class="fa-solid fa-pen-to-square btn-primary mr-5"></i></button>
        </div>
      <div data-user-profile-target="dayInfo" class="">
        <p><strong>Work Days:</strong> <%= @user.work_days_per_week %> per week</p>
        <p><strong>Work Hours:</strong> <%= @user.work_hours_per_day %> per day</p>
        <p><strong>Sleep Hours:</strong> <%= @user.sleep_hours_per_day %> per day</p>
      </div>
  </div>
  <div data-user-profile-target="dayForm" class="d-none">
    <%= simple_form_for(@user, as: :user, url: registration_path(:user), html: { method: :patch }) do |f| %>
    <%= f.error_notification %>
    <%= f.input :work_days_per_week,
                collection: 0..7,
                label: "How many days on average do you work per week?" %>
    <%= f.input :work_hours_per_day,
                collection: 0..24,
                label: "On an average work day, how many hours do you spend working and commuting?" %>
    <%= f.input :sleep_hours_per_day,
                collection: 0..24,
                label: "How much sleep do you ideally get per day?" %>
    <%= f.input :current_password,
                hint: "we need your current password to confirm your changes",
                required: true,
                input_html: { autocomplete: "current-password" } %>
    <div class="form-actions">
      <%= f.button :submit, "Update" %>
    </div>
  <% end %>
  </div>
</div>
