
<% habit.logs.order(date_time: :asc).each do  |log|%>
  <div class="habit-card d-flex" data-controller="log-click" data-log-click-token-value="<%= form_authenticity_token %>" data-log-click-date-value="<%=log.date_time.strftime("%Y-%m-%d %H:%M") %>" data-log-scroll-target="log" data-log-click-completed-value="<% log.completed  %>">
    <div class="row">
      <div class="col-6 left">
        <h5>I will <%= habit.title %></h3>
        <%# <p data-loader-log-date-value= #{log.date}></p> %>
        <h6 data-log-click-target='message'><%= log.format_message %></h6>
      </div>
      <div class="col-6 right">
        <div class="line"></div>
        <span class="dot <%= log.completed ? "completed" : "" %>" data-id="<%= log.id %>" data-log-click-target="circle" data-action="click->log-click#handleDotClick"></span>
      </div>
    </div>
  </div>
<% end %>
