
<% habit.logs.each do  |log|%>
  <div class="habit-card d-flex" data-controller="log-click" data-log-click-token-value="<%= form_authenticity_token %>" data-log-click-date-value="<%=log.date_time.strftime("%Y-%m-%d %H:%M") %>" data-log-scroll-target="log" ata-log-click-completed-value="<% log.completed  %>">
    <div class="row">
      <div class="col-6 left">
        <h5>I will <%= habit.title %></h3>
        <%# <p data-loader-log-date-value= #{log.date}></p> %>
        <%if log.completed  %>
        <h6>Well done! You completed on <%= log_date = log.date_time.strftime("%Y-%m-%d %H:%M") %></p>
        <%else  %>
        <h6>Not completed </p>
        <%end  %>

      </div>
      <div class="col-6 right">
        <div class="line"></div>
        <span class="dot <%= log.completed ? "completed" : "" %>" data-id="<%= log.id %>" data-log-click-target="circle" data-action="click->log-click#handleDotClick"></span>
      </div>
    </div>
  </div>
<% end %>
