<% today_done = false %>
<% today = Date.today.strftime("%Y-%m-%d") %>

<% logs.each_with_index do |log, index| %>
  <% log_date = log.date_time.strftime("%Y-%m-%d") %>
  <% if today == log_date && !today_done %>
    <% add_class = 'date-start' %>
    <% today_done = true %>
  <% end %>

  <div class="habit-card d-flex <%= add_class %>" data-controller="log-click" data-date="<%=log.date_time.strftime("%Y-%m-%d") %>" data-tracker-menu-target="log" data-log-click-completed-value="<% log.completed  %>">
    <div class="row">
      <div class="col-7 left">
        <%= render partial: 'shared/category_chip', locals: { habit: log.habit } %>
        <h2 class = "text" data-log-click-target='message'><b><%= log.format_message %></b></h2>
        <p class = "text" data-log-click-target='date' ><%= log.format_date_message %></p>
        <p data-log-scroll-target="today"></p>
      </div>
      <div class="col-5 right habit-connection">
        <div class="line top"></div>
        <span class="dot <%= log.completed ? "completed" : "" %>" data-id="<%= log.id %>" data-log-click-target="circle"></span>
        <div class="line bottom"></div>
      </div>
    </div>
  </div>
<% end %>
