
<% logs.each_with_index do |log, index| %>
  <div class="habit-card d-flex" data-controller="log-click" data-log-click-date-value="<%=log.date_time.strftime("%Y-%m-%d %H:%M") %>" data-log-scroll-target="log" data-log-click-completed-value="<% log.completed  %>">
    <div class="row">
      <div class="col-6 left">
        <%= render partial: 'shared/category_chip', locals: { habit: log.habit } %>
        <h6 class = "text" data-log-click-target='message'><%= log.format_message %></h6>
        <p data-log-scroll-target="today"></p>
      </div>
      <div class="col-6 right">
        <div class="line"></div>
        <span class="dot <%= log.completed ? "completed" : "" %>" data-id="<%= log.id %>" data-log-click-target="circle"></span>
      </div>
    </div>
  </div>
<% end %>
