<div class="container col-6 my-5">
<h2>Add a habit</h2>

<%= simple_form_for(@habit) do |f| %>
  <%= f.input :title, :label => 'I will:', placeholder: "Call Mum, organise date night" %>
  <p>I will do this every </p>
  <%= f.input :week_recurrence, label: false, placeholder: "3" %>
  <p>weeks</p>
  <p>on these days: </p>
  <%= f.input :days, label: false, as: :check_boxes, collection: ["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday", "Sunday"], label_method: Proc.new { |letter| letter.first }  %>
  <%= f.time_select :start_times, {ampm: true}, {class: 'form-control'} %>
  <button>Add more times</button>
  <%= f.input :identity_goal, :label => 'I will do this because I want to be:', placeholder: "a proactive husband, the best uncle, a good citizen..." %>
  <%= f.input :category, :label => 'Habit category:', placeholder: "Partner", as: :select, collection: @categories %>
  <%= f.input :trigger, :label => 'I will this before/during/after:', placeholder: "while walking the dog, after brushing teeth, before dinner..." %>
  <%= f.input :reward, :label => 'My reward for this is:', placeholder: "walking the dog, brushing teeth, dinner..." %>
  <%= f.input :photo, :label => 'Add a photograph to this habit:', as: :file %>
  <%= f.submit %>
<% end %>
</div>
