<div class="container col-6 my-5">
<h2>Add a habit</h2>

<%= simple_form_for(@habit) do |f| %>
  <%= f.input :title, :label => 'I will:', placeholder: "Call Mum, organise date night" %>
  <p>I will do this every </p>
  <%= f.input :week_recurrence, label: false, placeholder: "3" %>
  <p>week/s on these days:</p>
  <% days_of_week = Date::DAYNAMES.rotate(1).map { |day| day[0] } %>
  <%= f.input :days_of_week, as: :check_boxes, collection: days_of_week, label: false %>
  <%= f.input :start_time, :label => 'at: ' %>
  <%= f.input :duration_in_minutes, :label => 'It will take around', placeholder: "15" %>
  <p>minutes.</p>
  <%= f.input :identity_goal, :label => 'I will do this because I want to be:', placeholder: "a proactive husband, the best uncle, a good citizen..." %>
  <%= f.input :category, :label => 'Habit category:', placeholder: "Partner", as: :select, collection: Habit::CATEGORIES %>
  <%= f.input :trigger, :label => 'I will this before/while/after:', placeholder: "while walking the dog, after brushing teeth, before dinner..." %>
  <%= f.input :reward, :label => 'My reward for this is:', placeholder: "a coffee, cake, an episode of Breaking Bad..." %>
  <%= f.input :photo, :label => 'Attached a photograph to this habit:', as: :file %>
  <%= f.submit %>
<% end %>
</div>


  <%# <%= f.input :identity_goal, as: :datetime, html5: true, :label => 'I will do this because I want to be:', placeholder: "a proactive husband, the best uncle, a good citizen..." %> %>
