<div data-controller="tracker-menu">
  <div id="tracker-menu">
    <div id="tracker-input">
      <div class="input-container">
        <div class="input-button" data-action="click->tracker-menu#openInputMenu" data-tracker-menu-target="month"><%= Date.today.strftime("%B") %> <i class="fa-solid fa-caret-down"></i></div>
        <div class="input-menu month" data-tracker-menu-target="monthMenu">
          <a href="#">January</a>
          <a href="#">February</a>
          <a href="#">March</a>
          <a href="#">April</a>
          <a href="#">May</a>
          <a href="#">June</a>
          <a href="#">July</a>
          <a href="#">August</a>
          <a href="#">September</a>
          <a href="#">October</a>
          <a href="#">November</a>
          <a href="#">December</a>
          </div>
      </div>
      <div class="input-container">
        <div class="input-button" data-action="click->tracker-menu#openInputMenu" data-tracker-menu-target="year"><%= Date.today.year %> <i class="fa-solid fa-caret-down"></i></div>
        <div class="input-menu year" data-tracker-menu-target="yearMenu">
          <div class="input-scroll up"><i class="fa-solid fa-caret-up"></i></div>
            <% first_year = Date.today.year - 1 %>
            <% last_year = first_year + 3 %>
            <% (first_year...last_year).each do |year| %>
              <a href="#"><%= year %></a>
            <% end %>
          <div class="input-scroll down"><i class="fa-solid fa-caret-down"></i></div>
        </div>
      </div>
    </div>
    <div id="tracker-days" data-tracker-menu-target="days" data-action="scroll->tracker-menu#menuScroll">
    </div>
  </div>

  <div class="container col-11 col-md-6 col-lg-4 col-xl-4">
    <div>
      <%= render 'habits/habit_first_card'%>
      <%= render "logs", logs: @logs %>
      <%= render 'habits/habit_button_card'%>
    </div>

    <%# Must put remove d-none class at the point of completion %>
      <div id="completion-message" class="col-10 col-md-4" data-controller = "log-click" data-log-click-target="completionMessage">
      <div id="logo-and-title" class="d-flex flex-row">
        <div id="logo-container">
          <div class="logo-line top"></div>
          <div id="logo-circle"></div>
          <div class="logo-line bottom"></div>
        </div>
          <div id="text-container"></div>
      </div>
      <h4 class="mb-2 mt-3"><i class="fa-solid fa-xmark" role="button" data-log-click-target="modalcross" data-action="click->log-click#closemodal"></i></h4>
      </div>
    </div>

<div id="background-filter" class="tooltip-back d-none">
  <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>
  <dotlottie-player src="https://lottie.host/5bb9495f-cf8a-4148-a6fe-34a7d70907ea/XWHFZiF5in.json" background="transparent" speed="1" style="position: absolute; bottom: 0; margin-bottom: -55px; height: 500px" loop autoplay></dotlottie-player>
</div> %

  <div id="tracker-side-menu">
    <div id="side-menu-selector" data-action="click->tracker-menu#openSideMenu" data-tracker-menu-target="sideMenuSelector"><i class="fa-solid fa-caret-left"></i></div>
    <div id="side-menu-options" data-tracker-menu-target="sideMenu">
      <div class="primary-btn side-menu-btn" data-action="click->tracker-menu#goToToday">Go to today</div>
      <div class="primary-btn side-menu-btn">Habits <i class="fa-solid fa-caret-down"></i></div>
    </div>
  </div>
</div>
