<div data-controller="tracker-menu">
  <div id="tracker-menu">
    <div id="tracker-input">
      <div class="input-container">
        <div class="input-button" data-action="click->tracker-menu#openInputMenu" data-tracker-menu-target="month"><%= Date.today.strftime("%B") %> <i class="fa-solid fa-caret-down"></i></div>
        <div class="input-menu month" data-action="click->tracker-menu#setMenuMonth" data-tracker-menu-target="monthMenu">
          <a href="#">January</a>
          <a href="#">February</a>
          <a href="#">March</a>
          <a href="#">April</a>
          <a href="#">May</a>
          <a href="#">June</a>
          <a href="#">July</a>
          <a href="#">August</a>
          <a href="#">September</a>
          <a href="#">October</a>
          <a href="#">November</a>
          <a href="#">December</a>
          </div>
      </div>
      <div class="input-container">
        <div class="input-button" data-action="click->tracker-menu#openInputMenu" data-tracker-menu-target="year"><%= Date.today.year %> <i class="fa-solid fa-caret-down"></i></div>
        <div class="input-menu year" data-action="click->tracker-menu#setMenuYear" data-tracker-menu-target="yearMenu">
          <div class="input-scroll up"><i class="fa-solid fa-caret-up"></i></div>
            <% first_year = Date.today.year - 1 %>
            <% last_year = first_year + 3 %>
            <% (first_year...last_year).each do |year| %>
              <a href="#"><%= year %></a>
            <% end %>
          <div class="input-scroll down"><i class="fa-solid fa-caret-down"></i></div>
        </div>
      </div>
    </div>
    <div id="tracker-days" data-tracker-menu-target="days" data-action="scroll->tracker-menu#menuScroll">
    </div>
  </div>

  <div class="container col-11 col-md-6 col-lg-4 col-xl-4">
    <div>

    <%= render 'habits/habit_first_card'%>

    <%= render "logs", logs: @logs %>

      <%= render 'habits/habit_button_card'%>
    </div>

    <div id="completion-message">
      <div id="logo-container">
        <div class="logo-line top"></div>
        <div id="logo-circle"></div>
        <div class="logo-line bottom"></div>
      </div>
      <div id="text-container"></div>
    </div>
  </div>
</div>
