<!DOCTYPE html>
<html>
  <head>
    <title>What Matters</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "shared/header" %>
    <%= render "shared/flashes" %>

    <div data-controller="burger-menu">
      <%= render "shared/burger_menu" %>
      <div class="main mb-5 row justify-content-center m-0">
        <div class="row justify-content-center w-100">
          <% @custom_column_class ||= "col-11 col-md-6 col-lg-4 col-xl-4" %>
          <div class="<%= @custom_column_class %>">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
